body {
  font-family: 'Gentium Basic', serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  margin-top: 0.75em;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
}

ul.content-list {
  font-size: 1.2em;
}

.subnav {
  margin: 0 auto 20px;
}

.lead {
  max-width: 750px;
  line-height: 1.75;
  margin: 5em auto;
}
